<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fosu.workflow.mapper.ClassMapper">
    <resultMap id="AllClassesList"
               type="org.fosu.workflow.entities.Class">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="class_name" property="class_name"/>
        <result column="class_id" property="class_id"/>
        <result column="head_teacher" property="head_teacher"/>
        <result column="head_teacher_nick_name" property="head_teacher_nick_name"/>
        <result column="counselor" property="counselor"/>
        <result column="counselor_nick_name" property="counselor_nick_name"/>
    </resultMap>
    <select id="getAllClasses" resultMap="AllClassesList">
        SELECT *
        from mxg_class
    </select>
    <select id="getTeacherCourse" resultMap="AllClassesList">
        SELECT t1.name
        FROM mxg_course t1
        WHERE t1.tch_id = #{username}
        GROUP BY t1.name
    </select>
    <select id="getTeacherClasses" resultMap="AllClassesList">
        SELECT t1.*, t2.name as class_name
        FROM mxg_course t1
                 LEFT JOIN mxg_class t2
                           ON t1.class_id = t2.id
        WHERE t1.tch_id = #{username}
    </select>
</mapper>